<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <h1>404 - Not Found</h1>
  <p>Return <a href="/">Home</a></p>
</body>

</html>